# Ignoring all .o files 
libft/libft.a
libft/*.o
obj/src/env/*.o
obj/src/executor/*.o
obj/src/init/*.o
obj/src/lexer/*.o
obj/src/outils/*.o
obj/
minishell_tester

# Ignoring executable
minishell

# Unwanted Files after compiling
.vscode/settings.json