# Ignoring all .o files 
libft/libft.a
libft/*.o
obj/src/env/*.o
obj/src/executor/*.o
obj/src/init/*.o
obj/src/lexer/*.o
obj/src/outils/*.o
obj/

# Ignoring executable
minishell

# Unwanted Files after compiling
.vscode/settings.json


#testing Code
input1.txt
input2.txt
input3.txt
input4.txt
